<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCGvOz2RDkYj2-_2uXhcYittpPnbL4BHGI</string>
	<key>GCM_SENDER_ID</key>
	<string>157709644141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCommerceeApp</string>
	<key>PROJECT_ID</key>
	<string>shopping-app-b0935</string>
	<key>STORAGE_BUCKET</key>
	<string>shopping-app-b0935.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:157709644141:ios:15257f9c8c9733ca30aa64</string>
</dict>
</plist>